.main-container {

}
.header-wrapper{
  background-color: #72CCCA;
  height: 2em;
  padding: 20px;
  color: white;
  text-align: center
}
.form-container{
  text-align: center;
}
.form-wrapper{
  background-color: #E2D6BE;
  height: auto;
  width: auto;
}
.form-username, .form-search{
  padding-top: 2em;
}
.form-password, .form-button{
  margin-top: 2em;
}
.send-button{
  margin-bottom: 10px;
  height: 2em;
  width: 5%;
  padding: 10px 15px 20px 15px;
  border-radius: 1em;
  background-color: #E7E7E7;
  ont-size: x-small;
}
.footer-container{
  height: 4em;
  background-color: #586474;
  color: white;
  text-align: center;
  padding-top: 2em;
}

/*search form*/
